{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ script.name}}</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/ac5da047f7.js" crossorigin="anonymous"></script>
</head>
<body>
<a href="{% url 'list' %}" > <<<< </a>

<div class="card">
  <div class="card-header">
    <h5>Script name: {{ script.name}}</h5>
  </div>
  <div class="card-body">
    {% autoescape off %}
        {{report }}
    {% endautoescape %}
  </div>
</div>

</body>
</html>