{% extends 'main.html' %}
{% block title %} Script list {% endblock %}
{% load static %}

{% block page %}
    <h3>Script list</h3>
    <p>Number of scripts : {{number_of_scripts}} </p>

    <hr width=”100″>

    {% for script in script_book%}
        <h5> {{script.1}} <a href="{% url 'report' script.0 %}"><i class="fas fa-forward fa-1x"></i></a> </h5>
        <p> {{script.2}} </p>
        <hr width=”100″>
    {% endfor %}

    <img src="{% static "aaaa/fig1.png" %}" alt="Text to display if image is not found"/>
    <img src="{% static "images/fig1.png" %}" alt="Hi!" />

    <img src="{% static "appli1/testimg.png" %}" alt="My image"/>

    <a href="/" > Start page </a>
    <footer>
      <p>Author: Lukasz Laba<br>
    </footer>
{% endblock %}