<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scriptlist</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/ac5da047f7.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-center">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about" >About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/scripts/list/" >Scriptlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contribute">Contribute</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h2>List of scripts</h2>
  <p>Number of scripts : {{number_of_scripts}} </p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
        {% for script in script_book%}
              <tr>
                <td> <h6> {{script.1}} </h6></td>
                <td>{{script.4}}</td>
                <td>{{script.2}}</td>
                <td><a href="{% url 'report' script.0 %}" ><i <button type="button" class="btn btn-primary btn-sm">Run</button></i></a></td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>


</body>
</html>