{% extends 'xbeam_main.html' %}
{% block title %} xbeam {% endblock %}

{% block bg_height %}100vh{% endblock %}

{% block page %}

<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-center">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/xbeam/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/xbeam/about" >About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/xbeam/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<section class="main-image">
  <div class="container">
    <h4>Author of this project:</h4>
    <p>Łukasz Laba</p>
    <p>website: <a href="https://lukaszlaba.bitbucket.io/" >https://lukaszlaba.bitbucket.io/</a></p>
    <p>email (proof you are not robot and correct the order before use): gmail.com@lukaszlaba</p>
  </div>
</section>

{% endblock %}