{% extends 'xbeam_main.html' %}
{% block title %} xbeam {% endblock %}

{% block bg_height %}100%{% endblock %}

{% block page %}

<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-center">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/xbeam/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/xbeam/about" >About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/xbeam/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<section class="main-image">
    <div class="container">
    <h4>What is it for?</h4>
    <p>xbeam is a set of spreadsheets for engineering calculations in structural analysis, for direct usage onto the web.
      You find the list of the spreadsheets under Home in the List of Spreadsheets.
      Check often this list - spreadsheets are updated or new one added regularly!</p>

    <h4>How does it work?</h4>
    <p>Spreadsheets are user-friendly and intuitive. The values displayed in blue can be edited. To edit the input value
        just click it and set a new value.</p>

    <h4>Who is the author of this project </h4>
    <p>The author of this project is a structural engineer with 15 years of continuous professionals experiences in the field of structural
      engineering design of civil and industrial constructions.</p>

    <h4>How can I save my spreadsheets?</h4>
    <p>Keep a web link to your spreadsheet if you want to back to it later - the web link include
        unique identifier dedicated to your spreadsheet. In general spreadsheets are stored 14 days since last time of use.</p>

    <h4>How to print spreadsheet?</h4>
    <p>For now the method is to do this with browser's command, preferably by right clicking onto a white region of
        the spreadsheet and select print option.</p>

    <h4>Loge python notebook </h4>
    <p>The project is powered by Python programming language and <a href="https://loge.readthedocs.io/en/latest/" >Loge</a>
      python notebook. You can create similar spreadsheets using those tools. All those tools are free software.
      The mission of the <a href="https://loge.readthedocs.io/en/latest/" >Loge</a> project is to provide a simple and
      practical tool that will interest engineers to use Python language in their daily work.</p>

    <h4>Contribute </h4>
    <p>If you enjoy this project you can contribute by reporting problems, shear opinion with others. If you enjoy
      working with Loge and use it for structural calculations let know if you want shear some of your
      spreadsheets by xbeam platform. For now the financial contribute is not possible. </p>

    <h4>Disclaimer </h4>
    <p>All sheets are provided in the state 'as is', without any implicit or explicit warranty. All users must choose
        the calculation method best suited to their problem, and check all results for correctness and consistency.
        If advised of a mistake or inconsistency, the author only duty shall be to make the necessary corrections. </p>
  </div>

  </div>

</section>
{% endblock %}